/* general styles */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}


.text-vcenter2 {
  /*font-size: 150px; */
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lato';



}
.text-vcenter2 h1 {
  font-size: 64px;
  margin: 0;
  padding: 0;
  font-family: 'Lato';

}
/* additional sections */
#homepartners {
  background: url(../img/partenaires/otromodo/team.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#homepartners a {
  font-size:2em;
  color: #FFFFFF; 
  text-decoration: none;
}

#aboutpartners {
    background-color: #FFFFFF;
}

#ending {
  color: #ffffff;
  background: url(../img/partenaires/otromodo/casa_caro2.jpg) no-repeat center center fixed;
  background-size: 100% auto;
}



footer {
  padding: 0px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
