/* general styles */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
html, body {
  padding: 20px 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;

}

/* padded section */
.pad-section_team {
  padding: 20px 0;
}



#pres0 {
  padding: 400px 0;
  padding-bottom: 0px;
  color:#ffffff;
  text-shadow: 3px 3px 3px #424242;
  background: url(../img/icons/expertises/urba.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#pres1 {
  background-color: #f18611;
  color: #ffffff;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  font-size : 20px;
  padding-bottom: 0px;
}


#pres2 {
  background-color: #ffffff;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  font-size : 20px;
}

#pres3 {
  background-color: #299fef;
  color : #ffffff;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  font-size : 20px;
}

#pres4 {
  background-color: #ffffff;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  font-size : 20px;
}

#other {

  background-color: #299fef;
  color: #ffffff;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;

}

#pres5 {
  padding: 0px 0;
  background-color: #f18611;
  color: #ffffff;
  display: table;
  height: 10%;
  position: relative;
  width: 100%;
  font-size : 20px;
  padding-bottom: 0px;
}