/* general styles */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;

}

.white, .white a {
  color: #fff;
}

a[href^="mailto:"]

{ 
  font-family: sans-serif;
  color: #ffffff;
  font-size: 16px;
}
a.hover[href^="mailto:"] {

}


.btn-primary {
  background: #f18611;
  border : #f18611;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #ff9b30;
  border : #ff9b30;

}
.btn-info {
  background:#299fef;
  border : #299fef;
  color: #ffffff;
}


/* padded section */
 {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  font-size: 150px; 
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #f18611;

}
.text-vcenter h2 {
  font-size: 64px;
  font-family: 'Lato', sans-serif;
}

}
.text-vcenter h1 {
  font-size: 64px;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #f18611
}

.text-center{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}


#my-table {
  background-color: #ffffff;
  color: #000000;
}

/* additional sections */
#home {
  background: url(../img/seed.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background-color: #FFFFFF;
}

#partners {
  background-color: #ffffff;
}

#services {

  color: #ffffff;
  background: url(../img/solidarity.JPG) no-repeat center center fixed;
  background-size: 100% auto;


}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
#presta {
  padding: 50px 0;
  background-color: #299fef;
  color: #ffffff;
  display: table;
  height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
}

#projects {

  display: table;
  height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
}


#join {

  color: #ffffff;
  background: url(../img/joinus.JPG) no-repeat center center fixed;
  background-size: 100% auto;
  font-size: 15px;
}
#join .panel {
  opacity: 0.85;
}

#follow {
  color: #ffffff;
  background: url(../img/follow.JPG) no-repeat center center fixed;
  background-size: 100% auto;
}


#contact {

  display: table;
  height: 300px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
  background-color: #f18611;
  color: white;
}
#contact .panel {
  opacity: 0.85;
}

footer {
  padding: 0px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}


/* Contact form */
form label {
  font-size: 15px;
  display: block;
  padding: 0 0;
  margin-top: 0;
}


#facebook { transition: 0.5s; }
svg:hover #facebook { fill: #3B5998; }

#twitter { transition: 0.5s; }
svg:hover #twitter { fill: #1DA1F2; }

#google { transition: 0.5s; }
svg:hover #google { fill: #DC4E41; }


#owl-example .item{
  margin: 3px;
}
#owl-example .item img{
  display: block;
  width: 80%;
  height: auto;
}


