/* general styles */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
html, body {
  padding: 50px 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

/* padded section */
.pad-section_team {
  padding: 50px 0;
}




#ca {
  background-color: #f18611;
  color: #ffffff;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

#pe {
  background-color: #ffffff;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;

}

.pe_hr hr{
  color: #f18611;
  background-color: #f18611;
  height: 1px;
}

#other {

  background-color: #299fef;
  color: #ffffff;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;

}