{% extends "base.html" %} {% block content %}

<script src="/static/js/bootstrap.min.js"></script>
<link href="/static/css/presta.css" rel="stylesheet" />
<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->


<div id="pres0" class="pad-section">
	<div class="container">
		<div class="col-sm-2"></div>
		
		<div class="col-sm-4">
			<img src="/static/img/logo2.png" alt="" />
		</div>
		<div class="col-sm-6 text-center" style="font-size:17px; padding-top:70px;">
			<h1 align="left"><font color="#f18611">Les expertises de S.E.E.D.</font></h1>
			<p align="justify">Les professionnels qui composent l’équipe de S.E.E.D. détiennent de multiples compétences qu’ils mettent au service d’autres acteurs publics (collectivités territoriales, agences gouvernementales...) ou privés (associations, ONGs...), via un système de prestation.</p>
		</div>
		
	</div>
</div>

<div id="pres1" class="pad-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-6" style="padding-top:60px;">
				<b>Urbanisme</b> :
				<ul>
					<li>Diagnostics (terrain, réglementaire, sociologique)</li>
					<li>Propositions, schémas et plans d’aménagement</li>
					<li>Planification urbaine post-catastrophe avec prise en compte des risques sur le territoire</li>
					<li>Ateliers d’urbanisme participatifs (méthodologie spécifique)</li>
				</ul>
			</div>

			
			<div class="col-sm-3">
				<img src="/static/img/icons/expertises/urban.svg" alt="" />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="fotorama" data-width="90%" data-ratio="800/600"  data-autoplay="3000">

				<img src="/static/img/expertises/caroussel1/1.jpg"  data-caption="Plans d'aménagement urbain, Tacloban, Philippines.">
				<img src="/static/img/expertises/caroussel1/2.jpg"  data-caption="Plans d'aménagement urbain, Tacloban, Philippines.">
				<img src="/static/img/expertises/caroussel1/3.png" data-caption="Schémas d'aménagement des espaces publics issus de la concertation, Tacloban, Philippines">
				<img src="/static/img/expertises/caroussel1/4.png"  data-caption="Zoning administratif, Tacloban, Philippines, Tacloban, Philippines.">
				<img src="/static/img/expertises/caroussel1/5.jpg"  data-caption="Ateliers d'urbanisme participatifs, Tacloban, Philippines">
			</div>

		</div>


	</div>
</div>








<div id="pres2" class="pad-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img src="/static/img/icons/expertises/juri.svg" alt="" />
			</div>
			<div class="col-sm-6" style="padding-top:60px;">
				<b>Sciences juridiques</b> :
				<ul>
					<li>Conseil juridique en droits de l’homme</li>
					<li>Conseil juridique en droit d’asile et droit des étrangers</li>
					<li>Conseil juridique en droit de l’Union Européenne</li>
					<li>Conseil juridique en droit de l’environnement</li>
					<li>Conseil en résolution des conflits</li>
				</ul>
			</div>

			

		</div>
	</div>
</div>

<div id="pres3" class="pad-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6" >
				<b>Formation / sensibilisation</b> :
				<ul>
					<li>Ateliers de sensibilisation aux risques (climatiques, humains, bons comportements…)</li>
					<li>Ateliers de sensibilisation à l’urbanisme durable</li>
					<li>Ateliers de découverte et de sensibilisation aux nouvelles technologies pour la ville (smart cities)</li>
					<li>Ateliers de sensibilisation à la protection de la biodiversité</li>

				</ul>
			</div>
			<div class="col-sm-3">
				<img src="/static/img/icons/expertises/education.svg" alt="" />
			</div>

			

		</div>
	</div>
</div>

<div id="pres4" class="pad-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img src="/static/img/icons/expertises/inno.svg" alt="" />
			</div>
			<div class="col-sm-6" style="padding-top:60px;">
				<b>Nouvelles technologies </b> :
				<ul>
					<li>Accompagnement de projets innovants orientés vers l’humanitaire et le développement.</li>

				</ul>
			</div>

			

		</div>
	</div>
</div>

<div id="pres5" class="pad-section">
	<div class="container">
		<div class="row">

			<p>Pour toute demande d’information complémentaire ou de devis, cliquez ici &nbsp&nbsp<a  href="mailto:contact@ongseed.fr?subject=Demande d'infos ou devis"><button type="button" class="btn btn-info"><b>CONTACT</b></button></a>&nbsp&nbsp ou directement par mail à l'adresse <b>contact@ongseed.fr</b> .</p>		

		</div>
	</div>
</div>



{% endblock %}
