  <!-- extend from base layout -->
  {% extends "base.html" %}



  {% block content %}
  <script src="/static/js/bootstrap.min.js"></script>


  <div id="homepartners" class="homepartners">


    <div class="text-vcenter2">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <a href="http://otromodo.com.ar/home"><img src="/static/img/partenaires/otromodo/otromodo.png" alt=""/></a>
      <h3><a href="http://otromodo.com.ar/home">http://otromodo.com.ar</a></h3>
      <button type="submit" class="btn btn-primary">Convention</button>
    </div>
  </div>


  <div id="aboutpartners" class="pad-section">
   <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Le projet « OTROMODO », <span class="text-muted">littéralement « une autre manière »</span></h2>
        <p align="justify"class="lead">a vu le jour en 2008 autour de la construction du logement d’un particulier, Adrian Mancuso. Elle associe des personnes partageant une vision commune et particulière de l’auto-construction qui ont décidé de trouver ensemble des solutions mutuelles à leur problème de logement.</p>
      </div>
      <div class="col-md-5">
        <br><br><br><br><br><br>
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/techo_marian.JPG" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <p align="justify"class="lead">Le projet « Otromodo »  se constitue donc comme une forme d’entraide entre les différents participants dans la réalisation de leurs logements respectifs. Sur son temps libre, chacun est amené à participer de manière gratuite, aux travaux de construction et d’amélioration du logement des autres membres de cette libre association de travailleurs. </p>
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/2lucarna_gri.JPG" alt="">
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/70_plantas.JPG" alt="">
        <br><br><br><br>
        <p align="justify"class="lead">Accumulant  savoir-faire et connaissances, au cours des travaux réalisés chez les uns ou les autres, les membres de cette association informelle décident alors de vendre leurs services à des particuliers, afin de financer leurs propres ouvrages. </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <p align="justify"class="lead">N’intervenant pas en tant qu’entreprise mais au titre d’une association spontanée, ils ont choisi de ne pas mettre en place de hiérarchie et de distribuer les gains acquis de manière totalement égalitaire,  entre ceux qui prennent part aux travaux.</p>
        <p align="justify"class="lead">Le premier aspect de cette association est donc social : une entraide organisée entre différentes personnes, afin de survivre économiquement et améliorer leurs conditions d’existence.</p>
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/mate_en_el_techo.JPG" alt="">
      </div>
      <div class="col-md-5">
        <br>
        <img class="featurette-image img-responsive center-block" src="static/img/partenaires/otromodo/20la_jaula.JPG" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <p align="justify"class="lead">Le second aspect est environnemental. En effet, ces auto-constructeurs ont pris le parti de construire en respectant au maximum la nature.Ils privilégient les matériaux naturels locaux, comme l’argile, la paille, ou ceux issus de la récupération.  </p>
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/techo_olas.jpg" alt="">
      </div>
      <div class="col-md-5 col-md-pull-7" >
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/97_gelvez.JPG" alt="">
        <br><br>
        <p align="justify"class="lead">Pour proposer des prestations en accord avec leurs convictions, les membres de cette association se sont formés aux techniques de construction alternatives. De plus, ils mettent en place chez eux, ou chez des particuliers, des systèmes voués à la protection de l’environnement, comme les toits végétalisés ou des systèmes naturels de traitement des eaux usées. </p>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <p align="justify"class="lead">Cette association de travailleurs a aussi des prétentions artistiques : par l’intégration d’éléments décoratifs au sein de ses différents projets, afin de dépasser le seul côté  pratique de la construction et de vivre mieux dans un environnement agréable.</p>
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/yin_yang.JPG" alt="">
      </div>
      <div class="col-md-5 col-md-pull-7" >
        <br>
        <img class="featurette-image img-responsive center-block" src="/static/img/partenaires/otromodo/girasol.jpg" alt="">
        <br><br>
        <p align="justify"class="lead"></p>

      </div>
    </div>

  </div>
</div> 

<div id="ending" class="pad-section">
  <div class="text-vcenter2">
    <h1>« Otromodo »</h1>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <p><h3 align="justify">se caractérise donc par une volonté de sortir des normes auto-constructives en vigueur, par une recherche d’une construction différente, nécessairement indépendante, respectueuse des hommes et de l’environnement. Enfin, pour  partager leur vision solidaire, écologique et artistique de l'habitat avec les membres de leur communauté, ces auto-constructeurs organisent régulièrement des ateliers collectifs pour adultes et enfants, afin d'éduquer les personnes intéressées aux techniques alternatives de construction et tenter de leur donner les moyens de solutionner par eux mêmes leurs problèmes de logement.</h3></p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color:#6E6E6E">Leur définition</h4>
          </div>
          <div class="modal-body">
            
          <p align="justify" style="color:#6E6E6E">« OTROMODO es una asociación de oficios que se dedica a la construcción y remodelación de
            viviendas, pero proponiendo lo constructivo como arte aplicado a la solución de problemas habitacionales y ambientales. Es nuestra propuesta generar relaciones laborales y humanas 
            tendientes al bienestar de todos, involucrándonos creativamente a través de la obra, en el desarrollo de entornos ecológica y socialmente sustentables.</p>

          <p align="justify" style="color:#6E6E6E">Desde OTROMODO buscamos revitalizar el vínculo entre la excepción y lo cotidiano, queremos colectivizar la singularidad, hacer arte aplicado a la construcción de entornos. Una suerte de poética de lo habitacional, un espacio de condensación emocional que comienza con el modo en que se construye. Nuestro hacer enraíza en la vitalidad del compromiso humano entre sí y con su entorno; la obra es la puesta en cuerpo de éste vínculo.</p>

          <ul>
            <li style="color:#6E6E6E" ><p align="justify">Recuperar el tiempo y los procesos que son deseables y necesarios para la construcción de espacios habitacionales, en función de la vitalidad que se desenvuelve en ellos y no como mero producto del mercado.</p></li>
            <li style="color:#6E6E6E"><p align="justify">Intervenir creativamente en lo cotidiano, disponer de lo singular y de lo creativo como entorno en el día a día</p></li>
            <li style="color:#6E6E6E"><p align="justify">Alentar la participación en la obra e impregnarla con las huellas del encuentro.  »</p></li>
          </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="col-sm-12"style="text-align:center;"/div>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Leur définition</button>
</div>
  {% endblock %}

