<div class="col-md-4">
    <img class="img-circle" src="/static/img/team/bastien.png" width="140" height="140">
    <h2><font color="#f15500">Bastien COLLART</font></h2>
    <h3><small>Webmaster</small></h3>
    <p>
        <font color="#f15500">Champs de compétences :</font>
    </p>
    <ul>
        <li>Administration systèmes</li>
        <li>Administration réseaux</li>
    </ul>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#nina">En détails&raquo;</button>
</div>
<div class="modal fade" id="nina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color:#f15500">Nina PORET &nbsp&nbsp&nbsp<small>Assistante de communication </small></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-circle" src="/static/img/team/bastien.png" width="140" height="140">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <font color="#f15500">Champs de compétences :</font>
                            </p>
                            <ul>
                                <li>Administration systèmes</li>
                                <li>Administration réseaux</li>
                            </ul>
                        </div>
                        </br>
                        </br>
                        <div class="col-md-12">
                            <p>
                                <font color="#f15500">
                                    <h4>Mon engagement dans S.E.E.D.</h4></font>
                            </p>
                            <p align="justify" style="color:#6E6E6E">L'opportunité s'est présentée à moi de contribuer à l'aventure S.E.E.D. par l'intermédiaire d'un ami, qui cherchait une personne pour créer et gérer le site de l'ONG.</p>
                            <p>Tout en développant le site j'ai suivi l'évolution de S.E.E.D. et je suis convaincu de l'impacte de ce genre d'initiative sur l'environnement ainsi que sur les populations en difficultées.</p>
                            <p>S.E.E.D représente un réel challenge et je suis heureux de pouvoir apporter ma pierre à l'édifice en gérant la maintenance du site, du blog et en m'impliquant potentiellement dans d'autres futures projets techniques.</p>
                            </br>
                            <p>
                                <font color="#f15500">
                                    <h4>Expériences</h4></font>
                            </p>
                            <ul>
                                <li style="color:#6E6E6E">
                                    <p align="justify">Centre hospitalier de la Risle</b>
                                    </p>
                                </li>
                                <ul>
                                    <li style="color:#6E6E6E">
                                        <p align="justify">Service informatique</p>
                                    </li>
                                </ul>
                                <li style="color:#6E6E6E">
                                    <p align="justify">PeopleDoc, Paris</p>
                                </li>
                                <ul>
                                    <li style="color:#6E6E6E">
                                        <p align="justify">Administrateur systèmes et réseaux</p>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>